<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>Servlets.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserType</servlet-name>
        <servlet-class>Servlets.CreateUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTypeList</servlet-name>
        <servlet-class>Servlets.UserTypeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>Servlets.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBranchName</servlet-name>
        <servlet-class>Servlets.GetBranchName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentlist</servlet-name>
        <servlet-class>Servlets.studentlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchWiseAttendance</servlet-name>
        <servlet-class>Servlets.BranchWiseAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>Servlets.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>Servlets.EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllBook</servlet-name>
        <servlet-class>Servlets.GetAllBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSelectedBook</servlet-name>
        <servlet-class>Servlets.EditSelectedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditedBook</servlet-name>
        <servlet-class>Servlets.SaveEditedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooklistEdit</servlet-name>
        <servlet-class>Servlets.BooklistEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDropDownBook</servlet-name>
        <servlet-class>Servlets.ShowDropDownBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchedBook</servlet-name>
        <servlet-class>Servlets.SearchedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDropDownStudent</servlet-name>
        <servlet-class>Servlets.ShowDropDownStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>Servlets.EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSelectedStudent</servlet-name>
        <servlet-class>Servlets.EditSelectedStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/admin/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserType</servlet-name>
        <url-pattern>/admin/CreateUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTypeList</servlet-name>
        <url-pattern>/admin/UserTypeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/admin/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBranchName</servlet-name>
        <url-pattern>/admin/GetBranchName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentlist</servlet-name>
        <url-pattern>/admin/studentlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchWiseAttendance</servlet-name>
        <url-pattern>/admin/BranchWiseAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/userstaff/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/userstaff/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllBook</servlet-name>
        <url-pattern>/userstaff/GetAllBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSelectedBook</servlet-name>
        <url-pattern>/userstaff/EditSelectedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditedBook</servlet-name>
        <url-pattern>/userstaff/SaveEditedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooklistEdit</servlet-name>
        <url-pattern>/userstaff/BooklistEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDropDownBook</servlet-name>
        <url-pattern>/ShowDropDownBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchedBook</servlet-name>
        <url-pattern>/SearchedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDropDownStudent</servlet-name>
        <url-pattern>/ShowDropDownStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/admin/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSelectedStudent</servlet-name>
        <url-pattern>/admin/EditSelectedStudent</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
